# نصب بسته‌های محلی
#./background_remove/transparent-background/
#./background_remove/image-upscale/
#./background_remove/faceorienter/

# نصب بسته از PyPI
unicorn
fastapi
RealESRGAN
dlib
tensorflow
retinaface --no-deps # retina-face
python-multipart
#بسته های برنامه اصلی


# برنامه های موجود روی سیستم
# https://cmake.org/download/
# Instead, please get an official copy of cmake from one of these known good
#   sources of an official cmake:
#   - cmake.org (this is how windows users should get cmake)
#   - apt install cmake (for Ubuntu or Debian based systems)
#   - yum install cmake (for Redhat or CenOS based systems)

